/*------------------------------- RESET CSS -----------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; background:transparent }
ol, ul { list-style:none; }
:focus { outline:0 }
table { border-collapse:collapse; border-spacing:0 ; table-layout: fixed;}

body{ font-family:Verdana; background-color:#E3E3E3; }

/*---------------------------------- FONTS ------------------------------------------------------*/
@font-face { 
    font-family: 'Frutinger-light-bold'; 
    src: url('../fontsNEW/frutiger-lt-std-45-light-bold.eot'); 
    src: url('../fontsNEW/frutiger-lt-std-45-light-bold.eot?#iefix') format('embedded-opentype'), 
         url('../fontsNEW/frutiger-lt-std-45-light-bold.woff') format('woff'), 
         url('../fontsNEW/frutiger-lt-std-45-light-bold.ttf') format('truetype'), 
         url('../fontsNEW/frutiger-lt-std-45-light-bold.svg#abelregular') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Frutinger-regular'; 
    src: url('../fontsNEW/frutiger-lt-std-55-roman-regular.eot'); 
    src: url('../fontsNEW/frutiger-lt-std-55-roman-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fontsNEW/frutiger-lt-std-55-roman-regular.woff') format('woff'), 
         url('../fontsNEW/frutiger-lt-std-55-roman-regular.ttf') format('truetype'), 
         url('../fontsNEW/frutiger-lt-std-55-roman-regular.svg#abelregular') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Frutinger-light'; 
    src: url('../fontsNEW/frutiger-lt-std-45-light-regular.eot'); 
    src: url('../fontsNEW/frutiger-lt-std-45-light-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fontsNEW/frutiger-lt-std-45-light-regular.woff') format('woff'), 
         url('../fontsNEW/frutiger-lt-std-45-light-regular.ttf') format('truetype'), 
         url('../fontsNEW/frutiger-lt-std-45-light-regular.svg#abelregular') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}

/*---------------------------------- TOP SHAREPOINT BAR------------------------------------------*/

.topSharePointBar{ position: absolute; top:0px; width: 100%;}
.topSharePointBar .leftZone .logo{ background-image: url('../images/logoRaona.png'); background-repeat: no-repeat; width: 154px; height: 80px; margin-left:10px; margin-top: 0px; float: left;}
.topSharePointBar .leftZone{ float: left; width: 80%; height: 30px; background-color: rgb(208,36,34);}
.topSharePointBar .leftZone .menu { float: right; margin-top: 5px; margin-right: 20px; font-family:Frutinger-light; }
.topSharePointBar .leftZone .menu ul li{ color: #FFF; float: left; margin-left: 10px; margin-right: 10px;}
.topSharePointBar .leftZone .menu ul li a{ color: #FFF;}
.topSharePointBar .leftZone .menu ul { list-style: none;}
.topSharePointBar .leftZone .menu ul li a{ color: #FFF; text-decoration: none;}
.topSharePointBar .leftZone .menu ul li a:hover{ opacity: 0.6;}
.topSharePointBar .leftZone .menu .selectedComms{background-image: url('../images/selected.png');width: 11px;height: 5px;position: relative;}
.topSharePointBar .leftZone .menu .selectedWhatsnew{background-image: url('../images/selected.png');width: 11px;height: 5px;position: relative;}
.topSharePointBar .leftZone .menu .selectedComms{top: 1px;left: 25px;}
.topSharePointBar .leftZone .menu .selectedWhatsnew{top: 1px;left: 52px;}
.topSharePointBar .rightZone{ float: left; width: 20%; height: 30px; background-color: #d6d6d6;}
.topSharePointBar .rightZone .menu ul li{ float: left; margin-right: 10px;}
.topSharePointBar .rightZone .menu ul { list-style: none;}
.topSharePointBar .rightZone .menu { float: right; margin-top: 7px; margin-left: 0px; font-size: 13px; color: #494949;}
.topSharePointBar .rightZone .menu .settingsIcon{float: left;}
.topSharePointBar .rightZone .menu .arrowDown{margin:26px 15px 0px 5px; float: left;}
.topSharePointBar .rightZone .menu .name{float: left;}
.topSharePointBar .rightZone .menu .helpIcon{float: left;}

/* -------------------------------------------------- MAIN ---------------------------------------------------------*/

.main{ float:left; width:97%; margin-top:45px; margin-left:1%; }
.main .contResponsiveFull{ float:left; width:95%;}
/*---------------------------------------------------- HEADER ----------------------------------------------------------*/

.main .header{ float:left; width:95%; margin-bottom:40px; margin-left:20px; margin-top: 15px; }
.main .header h1{ float:left; font-size:26px; color:#003366; margin-right:50px; font-family: Frutinger-light;}
.main .header ul.filtersTop { float:left; width:auto; border-bottom:2px solid #333; padding:0px 5px 0px 10px; font-family:Frutinger-light; }
.main .header ul.filtersTop li{ float:left; width:110px; text-align:center; font-size:13px; padding:6px 0px 6px; color:#FFF; background-color:#FFF; margin:0px 10px 1px 0px; }
.main .header ul.filtersTop li.allFilter{ background-color:#FF9020; }
.main .header ul.filtersTop li.estratFilter{ background-color:#cc0033; }
.main .header ul.filtersTop li.operatFilter{ background-color:#4db8b8; }
.main .header ul.filtersTop li.newsFilter{ background-color:#944d94; }
.main .header ul.filtersTop li.externalFilter{ background-color:#85d65c; }
.main .header ul.filtersTop li:hover{ cursor:pointer; opacity:.7; }
.main .header ul.filtersTop li.selected{ cursor:default; padding:6px 0px 6px; opacity:1; font-weight:bold;}
.main .header .globalSearch{ float:right; width:auto; margin:0px 20px 0px 0px; }
.main .header .globalSearch input{ float:right; width:200px; height:20px; background-color:#FFF; background-image:url(../images/view.png); background-repeat:no-repeat; background-position:185px 4px; padding-left:5px; color:#666; font-size:14px; border:1px solid #CCC; }
.main .header .filtersWhatsNew{background-color: #FFF;border-bottom: 0 !important;padding: 10px !important;padding-left: 25px !important;}

/* --------------------------------------------------- RIGHT PANEL --------------------------------------------------*/

/* Styles Right Panel */
.main .rightPanel{ float:right; width:340px; min-height:400px; background-color:#555555; padding:5px; }
.main .rightPanel .contAlerts{ float:left; padding:10px; color:#FFF; }
.main .rightPanel .contAlerts .titleWP{ float:left; width:270px; font-size:28px; color:#FFF; margin-bottom:15px; font-family:Segoe UI Light; }
.main .rightPanel .contAlerts .alert {float: left;margin-bottom: 10px;}
.main .rightPanel .contAlerts .alert .category{ width: 60px; font-size: 12px; text-align: center; float: left; font-weight:bold;}
.main .rightPanel .contAlerts .alert .cat1{ background-color: #EA4134;}
.main .rightPanel .contAlerts .alert .cat2{ background-color: #9751cb;}
.main .rightPanel .contAlerts .alert .cat3{ background-color: #78b64e;}
.main .rightPanel .contAlerts .alert .alertIcon{ float: left; background-image: url('../images/alertIcon.png');width: 14px;height: 14px;margin-left: 10px;margin-right: 4px;}
.main .rightPanel .contAlerts .alert .message{ float: left; font-size: 12px;}

.main .rightPanel .contLinks,
.main .contResponsiveFull .horizontal-tiles,
.main .contResponsiveFull .vertical-tiles{ margin-bottom: 40px; color:#FFF;}
.main .contResponsiveFull .horizontal-tiles,
.main .contResponsiveFull .vertical-tiles{min-height: 130px; margin:1%; background-color: #E2E2E2; padding: 1% 2% 2% 2%; margin-right: 3%;}
.main .contResponsiveFull .vertical-tiles .tile{background-color: gray;}
.main .contResponsiveFull .horizontal-tiles .title,
.main .contResponsiveFull .vertical-tiles .title{padding: 10px 10px; color:#3C3C3C;}

.main .contResponsiveFull .vertical-tiles .title{}
.main .contResponsiveFull .vertical-tiles .title.sub{font-size:12px;clear: both; padding-top: 30px;}
.main .contResponsiveFull .vertical-tiles{ float:left; margin-right:2%; width: 26%; /*background-color: #F5F4F5;*/}
.main .rightPanel .contLinks .titleWP{ float:left; width:320px; font-size:28px; color:#FFF; margin-bottom:15px; font-family:Segoe UI Light;}
.main .rightPanel .contLinks .addIcon{ float: left; background-image: url('../images/addIcon.png');width: 40px;height: 40px; margin:10px;}
.main .rightPanel .contLinks .addTiles{background-color: transparent !important;}
.main .rightPanel .contLinks .tile,
.main .contResponsiveFull .tile{background-color: #5c9cd6;float: left;margin: 5px;padding: 5px;position: relative;}
.main .rightPanel .contLinks .tile span,
.main .contResponsiveFull .tile span{position: absolute;bottom: 5px;right: 10px;font-size: 12px;text-align: right;}
.main .rightPanel .contLinks .big span{font-size:16px;}
.main .rightPanel .contLinks .double span{font-size:16px;}
.main .rightPanel .contLinks .big .date{padding-top:20px;padding-left:10px;}
.main .rightPanel .contLinks .big .meeting{padding-top:10px;padding-left:10px; font-size:11px;}
.main .rightPanel .contLinks .tile:hover,
.main .contResponsiveFull .tile:hover{opacity: 0.7;cursor: pointer;}
.main .rightPanel .contLinks .small,
.main .contResponsiveFull .small{width: 60px;height: 60px;}
.main .rightPanel .contLinks .big{width: 140px;height: 140px;background-color: #ffab2f;}
.main .rightPanel .contLinks .double{width: 140px;height: 60px;background-color: #92d050;}
.main .rightPanel .contLinks .brown{background-color: #c55a11;}
.main .rightPanel .contLinks .red{background-color: #c00000;}
.main .leftPanel{ float:left; width:300px; background-color:#FFF; min-height:700px; margin:0px 20px; }
.main .linksPanel{ float:right; }
.lblCollapseOut{ float:left; background-image:url(../images/openPanel.png); background-repeat:no-repeat; width:45px; height:45px; margin-bottom:1px; cursor:pointer; }
.lblCollapseIn{ float:left; background-image:url(../images/closePanel.png); background-repeat:no-repeat; width:45px; height:45px; margin:-5px 0px 0px -5px; cursor:pointer; }
.lblCollapse:hover{ cursor:pointer; }

.linksSmallRight{ float:left; clear:both; margin-top:1px; }
.linksSmallRight .mailLink{ float:left; background-image:url(../images/mailLink.png); background-repeat:no-repeat; width:45px; height:45px; clear:both; margin-bottom:1px; }
.linksSmallRight .userLink{ float:left; background-image:url(../images/userLink.png); background-repeat:no-repeat; width:45px; height:45px; clear:both; margin-bottom:1px; }
.linksSmallRight .documentsLink{ float:left; background-image:url(../images/documentsLink.png); background-repeat:no-repeat; width:45px; height:45px; clear:both; margin-bottom:1px; }
.linksSmallRight .calendarLink{ float:left; background-image:url(../images/calendarLink.png); background-repeat:no-repeat; width:45px; height:45px; clear:both; margin-bottom:1px; }
.linksSmallRight .chatLink{ float:left; background-image:url(../images/chatLink.png); background-repeat:no-repeat; width:45px; height:45px; clear:both; margin-bottom:1px; }
.linksSmallRight .serverLink{ float:left; background-image:url(../images/serverLink.png); background-repeat:no-repeat; width:45px; height:45px; clear:both; margin-bottom:1px; }
.linksSmallRight .favoriteLink{ float:left; background-image:url(../images/favoriteLink.png); background-repeat:no-repeat; width:45px; height:45px; clear:both; margin-bottom:1px; }
.linksSmallRight li:hover{
	cursor: pointer;
	opacity: 0.6;
}
/* --------------------------------------------------- POST CARD ---------------------------------------------------*/
.post-card{ float:left; width: 320px;height: 439px;display:block; margin-left:20px;  margin-bottom: 20px;background-color: #FFF;}
.post-card .post-mainCategory{ font-size:16px; text-transform:lowercase; color: #FFF;font-family: Frutinger-light; float: right; position: relative; right: 15px; height: 24px; z-index: 5;}
.post-card .post-mainCategory div{ padding-left: 15px;padding-right: 15px; padding-bottom: 10px;position:relative; top: 2px;}
.post-card .estrategico{ background-color:#cc0033; }
.post-card .operational{ background-color:#4db8b8; }
.post-card .external{ background-color:#85d65c; }
.post-card .newsletter{ background-color:#944d94; }
.post-card .global{ background-color:#f7980d; }
.post-card .reporting{ background-color:#00b050; }
.post-card .apps{ background-color:#0070c0; }
.post-card .events{ background-color:#c55a11; }
.post-card .rd{ background-color:#9751cb; }
.post-card .post-picture{ display: block;overflow:hidden; width:100%; position: relative; top: -24px; z-index:3; }
.post-card .post-picture img{ float:left; height:240px; width: 100%;}
.document .post-picture img{width:100px !important;height:100px !important;}
.document .post-picture{background-color: #1d7044;}
.document .docName{color: #FFF;font-family:Verdana;font-size: 16px;float: left;margin-top: 27px;margin-left: 10px;font-weight: bold;}
.document .headerName{color: #FFF;font-family:Verdana;font-size: 24px;float: left;margin-top: 35px;margin-left: 25px;margin-bottom: 36px;}
.document .siteName{color: #FFF;font-family:Verdana;font-size: 16px;float: left;margin-left: 10px;margin-top: 5px;}
.small .post-picture img{ height:165px !important; }
.small{height: 327px;}
.document{height: 327px;}
.small .shadow img{background-color: transparent; position: relative; top: -4px;}
.shadow img{background-color: transparent;}
.extraPadding{
	padding-top: 45px !important;
	padding-bottom: 39px !important;
}
.post-card .post-content{ margin-left: 15px;margin-right: 15px; font-family: Frutinger-regular;}
.post-card .post-content .post-title{ color:#2B405D; font-size:20px; text-align:center; text-transform:uppercase; padding-top: 0px;padding-bottom: 16px;height: 40px; font-family: Frutinger-light-bold;}
.post-card .post-content .post-message{ color:#666; font-size:12px; padding-bottom:10px;}
.post-card .post-content .post-keywords{ font-size: 12px; color: #dd2828; margin-bottom:15px; }
.post-card .post-content .post-keywords a:hover{ cursor: pointer; text-decoration:underline; color:#ec7d7d; }
.post-card .post-activity{font-size: 12px;margin-bottom: 33px;margin-top: 10px;}
.post-card .post-activity .post-owner{float: left;color: #383838;width: 200px;}
.post-card .post-activity .post-date{color: #B7B7B7;}
.post-card .post-activity .post-profilePic{width: 30px;height: 15px;float: left;background-color: #868686;color: #FFF;margin-right: 15px;padding: 10px;text-align: center;}
.post-card .post-actions{ border-top: 1px solid #DDD;padding-top: 12px;padding-bottom: 25px;}
.post-card .post-actions li{ float:left; margin-right:20px; cursor:pointer;}
.post-card .post-actions li.comments{ margin-right:25px; }
.post-card .post-actions li.read{ margin-right:25px;}
.post-card .post-actions li img{ width:16px; margin-right:5px; margin-left: 5px;}
.post-card .post-actions li span{ float:left; font-size:13px; color:#999;	}
.post-card .post-actions .likes{margin-left: 15px;}
.post-card .post-actions .open{margin-left: 15px;}
.post-card .post-actions li:hover{cursor: pointer;opacity: 0.7;}
.shadow img{width: 100%;}
.menuDelDia{font-size: 10px;margin-bottom: 28px;}

/*--------------------------------------- CHECKBOX -----------------------------------*/

input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=checkbox].css-checkbox + label.css-label {padding-left:22px;height:17px; display:inline-block;line-height:17px;background-repeat:no-repeat;background-position: 0 0;font-size:17px;vertical-align:middle;cursor:pointer;COLOR: #ADADAD;font-size: 12px;margin-right: 20px;}
input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -17px;}
label.css-label {background-image:url('../images/checkbox.png');-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}



/*CUSTOM 22-06-15*/
.post-card .post-video{ display: block;overflow:hidden; width:100%; position: relative; z-index:3; }
.post-card .post-video { float:left; height:240px; width: 100%;}
.post-card .post-actions .likes{margin-left: 0px;}
.post-card .post-actions li.read{ margin-left:10px; font-size: 13px; color:#999; text-decoration: underline;}
.post-card .post-actions li.read img{ vertical-align: middle;}

/*CUSTOM 15-07-15*/
/*
Colores:
Naranja #E38E73
Celeste #3BAFB5
Manzana #A2C75D
Violeta #8D82BD
Azul #839AC9
Gris #7B7D7D
*/


@font-face {
    font-family: trade-gothic-lt;
    src: url('../fontsNEW/trade-gothic-lt.eot'),
         url('../fontsNEW/trade-gothic-lt.woff'),
         url('../fontsNEW/trade-gothic-lt.ttf');
}


body.global{ font-family:Verdana; background-color:#F5F4F5;}
body.iframe{width: 798px !important; background-color: white;}
.topSharePointBar .leftZone .menu { float: right; margin-top: 0px; margin-right: 20px; font-family:trade-gothic-lt; }
.main .header h1{ float:left; font-size:26px; color:#525252; margin-right:50px; font-family: trade-gothic-lt;}
.main .header ul.filtersTop { float:left; width:auto; border-bottom:2px solid #333; padding:4px 5px 0px 10px; font-family:trade-gothic-lt; }
.main .rightPanel .contAlerts .titleWP{ float:left; width:270px; font-size:28px; color:#FFF; margin-bottom:15px; font-family:trade-gothic-lt; }
.main .header ul.filtersTop li.selected {font-weight:normal;}
}
.main .rightPanel .contLinks .titleWP{ float:left; width:320px; font-size:28px; color:#FFF; margin-bottom:15px; font-family:trade-gothic-lt;}
.post-card .post-mainCategory{ font-size:16px; text-transform:lowercase; color: #FFF;font-family: trade-gothic-lt; float: right; position: relative; right: 15px; height: 24px; z-index: 5;}
.document .docName{color: #FFF;font-family:Arial;font-size: 16px;float: left;margin-top: 27px;margin-left: 10px;font-weight: bold;}
.document .headerName{color: #FFF;font-family:Arial;font-size: 24px;float: left;margin-top: 35px;margin-left: 25px;margin-bottom: 36px;}
.document .siteName{color: #FFF;font-family:Verdana;font-size: 16px;float: left;margin-left: 10px;margin-top: 5px;}
.topSharePointBar .leftZone, .topSharePointBar .rightZone {height: 80px; border-bottom: 1px solid rgb(232, 232, 232);background-color:white;}
.topSharePointBar .rightZone .menu{color:gray; font-weight: bold;}
.topSharePointBar { position: relative;}
.topSharePointBar .leftZone .menu ul li{height: 40px; padding:40px 25px 0px 25px; margin-left: 0px; margin-right: 0px; border-left:1px solid rgba(187, 187, 187, 0.46);  width: 170px; text-align: center;color:gray;}
.topSharePointBar .leftZone .menu ul li:hover{background-color:rgba(128, 128, 128, 0.56); cursor: pointer; color:white;}
.topSharePointBar .leftZone .logo { margin-top: 25px; margin-left:37px;}
.menu-selected{background-color: rgb(62, 62, 62);}
.menu-last{border-right:1px solid rgba(187, 187, 187, 0.46);}
.main .header ul.filtersTop {border-bottom: none;}
.main .header ul.filtersTop li.allFilter { background-color: #FF9020;}
.main .header ul.filtersTop li.estratFilter { background-color: #7B7D7D;}
.main .header ul.filtersTop li.operatFilter { background-color: #839AC9;}
.main .header ul.filtersTop li.newsFilter { background-color: #AE7689;}
.main .header ul.filtersTop li.externalFilter { background-color:#B2A974;}
.main .header ul.filtersTop li.negocio { background-color: #E38E73;}
.topSharePointBar .rightZone .menu .name { padding-top: 28px;}
.topSharePointBar .rightZone .menu .settingsIcon, .topSharePointBar .rightZone .menu  .helpIcon,
.topSharePointBar .rightZone .menu .settingsIcon, .topSharePointBar .rightZone .menu  .settingIcons{ 
    margin-top: 23px;
    font-size: 20px;
}
.topSharePointBar .leftZone .menu ul li.hamburguer{
    display:none;
}

.topSharePointBar .leftZone .menu ul li.menu-selected {color:white;}
.topSharePointBar .leftZone .menu ul li i {margin-right:8px;}
.topSharePointBar .rightZone .menu ul li img{width: 50px; margin-top: 10px;}


.post-card .post-content{ margin-left: 15px;margin-right: 15px; font-family: trade-gothic-lt;}
.post-card .post-content .post-title{ color:#2B405D; font-size:20px; text-align:left; text-transform:none; padding-top: 0px;padding-bottom: 16px;height: 40px; font-family: trade-gothic-lt;}
.post-card .post-header{background-color: #839AC9; color:white;padding: 10px 20px 10px 20px; font-size: 18px;}
.post-card .post-image img{width: 100%;}
.post-card .post-author{ font-size: 13px; color:rgb(223, 223, 223); font-weight: bold; }
.post-card .post-category, .post-card .post-date{ font-size: 12px; text-transform: uppercase; margin-top: 13px;}
.post-card .post-category{display:inline-block;}
.post-card .post-date{float:right;}
.post-card .post-content .post-text{margin:20px 0px;font-size: 13px; }
.post-card a{text-decoration: none;}
.post-card a:hover > *{ opacity: 0.3;}


.post-card.post-card-2 .post-content{ margin-left: 0px;margin-right: 0px; font-family: trade-gothic-lt;height: 134px; padding:10px 20px 10px 20px;}
.post-card.post-card-2 .post-content .post-title{ color:#3F3F3F; font-size:20px; text-align:left; text-transform:none; padding-top: 14px;padding-bottom: 5px;height: auto; font-family: trade-gothic-lt; font-weight: bold;line-height: 18px;}
.post-card.post-card-2 .post-header{background-color: #839AC9; color:white;padding: 10px 20px 10px 20px; font-size: 18px;}
.post-card.post-card-2 .post-multimedia {height:221px; overflow: hidden;}
.post-card.post-card-2 .post-multimedia img{width: 100%;  height: 100%}
.post-card.post-card-2 .post-multimedia iframe{height: 221px;}
.post-card.post-card-2 .post-author{ font-size: 13px; color:#3F3F3F; font-weight: bold; }
.post-card.post-card-2 .post-category, .post-card .post-date{ font-size: 12px; text-transform: uppercase; margin-top: 0px;}
.post-card.post-card-2 .post-category{display:inline-block;}
.post-card.post-card-2 .post-date{float:right;}
.post-card.post-card-2 .post-content .post-text{margin:20px 0px; color:gray;}
.post-card.post-card-2 .post-actions li { font-size: 11px; text-align: center; float: left; margin-right: 20px; cursor: pointer; background-color: #999999;height: 21px;padding-top: 8px;width:79px; margin-right: 0px;  border-left: 1px solid white; color:white;}
.post-card.post-card-2 .post-actions li.views {border-left: none; background-color: #E6E6E6; color:gray;width:80px;}
.post-card.post-card-2 .post-actions { border-top: none;padding-top: 0px; padding-bottom: 0px;}


.post-card.post-card-3 .post-content{ margin-left: 0px;margin-right: 0px; font-family: trade-gothic-lt;height: 355px; padding:10px 20px 10px 20px;}
.post-card.post-card-3 .post-content .post-title{ color:#3F3F3F; font-size:20px; text-align:left; text-transform:none; padding-top: 14px;padding-bottom: 5px;height: auto; font-family: trade-gothic-lt; font-weight: bold;line-height: 18px;}
.post-card.post-card-3 .post-header{background-color: #839AC9; color:white;padding: 10px 20px 10px 20px; font-size: 18px;}
.post-card.post-card-3 .post-author{ font-size: 13px; color:#3F3F3F; font-weight: bold; }
.post-card.post-card-3 .post-category, .post-card .post-date{ font-size: 12px; text-transform: uppercase; margin-top: 0px;}
.post-card.post-card-3 .post-category{display:inline-block;}
.post-card.post-card-3 .post-date{float:right;}
.post-card.post-card-3 .post-content .post-text{margin:20px 0px; color:gray;}
.post-card.post-card-3 .post-actions li { font-size: 11px; text-align: center; float: left; margin-right: 20px; cursor: pointer; background-color: #999999;height: 21px;padding-top: 8px;width:79px; margin-right: 0px;  border-left: 1px solid white; color:white;}
.post-card.post-card-3 .post-actions li.views {border-left: none; background-color: #E6E6E6; color:gray;width:80px;}
.post-card.post-card-3 .post-actions { border-top: none;padding-top: 0px; padding-bottom: 0px;}


.post-card.post-card-4{width:100%; height:auto; margin: auto; border:none;}
.post-card.post-card-4 .post-content{ margin-left: 0px;margin-right: 0px; font-family: trade-gothic-lt; padding:10px 20px 10px 20px; height: auto;}

.post-card.post-card-4 .post-content .post-title{ color:#3F3F3F; font-size:20px; text-align:left; text-transform:none; padding-top: 14px;padding-bottom: 5px;height: auto; font-family: trade-gothic-lt; font-weight: bold;line-height: 18px;}
.post-card.post-card-4 .post-content .post-title .likes{float:right; font-size:13px; color:gray;}
.post-card.post-card-4 .post-content .post-title .likes:hover{color:lightgray; cursor:pointer;}
.post-card.post-card-4 .post-header{background-color: #839AC9; color:white;padding: 10px 20px 10px 20px; font-size: 18px;}
.post-card.post-card-4 .post-author{ font-size: 13px; color:#3F3F3F; font-weight: bold; }
.post-card.post-card-4 .post-category, .post-card .post-date{ font-size: 12px; text-transform: uppercase; margin-top: 0px;}
.post-card.post-card-4 .post-category{display:inline-block;}
.post-card.post-card-4 .post-multimedia{width: 30%; vertical-align: middle; float:left; margin: 0px 20px 15px 0px;}
.post-card.post-card-4 .post-multimedia img{width: 100%;border: 1px solid #F3EFEF;}
.post-card.post-card-4 .post-date{float:right;}
.post-card.post-card-4 .post-content .post-text{margin:20px 0px; color:gray; height: 100%;}
.post-card.post-card-4 .post-actions li { font-size: 11px; text-align: center; float: left; margin-right: 20px; cursor: pointer; background-color: #999999;height: 21px;padding-top: 8px;width:24.9%; margin-right: 0px;  border-left: 1px solid white; color:white;}
.post-card.post-card-4 .post-actions li.views {border-left: none; background-color: #E6E6E6; color:gray;width:24.9%;}
.post-card.post-card-4 .post-actions { border-top: none;padding-top: 0px; padding-bottom: 0px;}
.post-card.post-card-4 .post-content a:hover .post-title,
.post-card.post-card-4 .post-content a:hover .post-text,
.post-card.post-card-4 .post-content a:hover .post-author{ opacity: 1;}
.post-card.post-card-4 .post-video {width:auto; margin-right: 20px; margin-bottom: 20px; }
.post-card.post-card-4 .post-actions {width:99.9%}


.post-card.post-card-5 .post-content{ margin-left: 0px;margin-right: 0px; font-family: trade-gothic-lt;height: 134px; padding:10px 20px 10px 20px;}
.post-card.post-card-5 .post-content .post-title{ color:#3F3F3F; font-size:20px; text-align:left; text-transform:none; padding-top: 14px;padding-bottom: 5px;height: auto; font-family: trade-gothic-lt; font-weight: bold;line-height: 18px;}
.post-card.post-card-5 .post-header{background-color: #839AC9; color:white;padding: 10px 20px 10px 20px; font-size: 18px;}
.post-card.post-card-5 .post-multimedia {height:221px; overflow: hidden;}
.post-card.post-card-5 .post-multimedia img{width: 100%;  height: 100%}
.post-card.post-card-5 .post-multimedia iframe{height: 221px;}
.post-card.post-card-5 .post-author{ font-size: 13px; color:gray; font-weight: bold; margin-top: 10px;}
.post-card.post-card-5 .post-author span{font-size: 11px;}
.post-card.post-card-5 .post-author i{ font-size: 19px; margin-right: 5px;}
.post-card.post-card-5 .post-category, .post-card .post-date{ font-size: 12px; text-transform: uppercase; margin-top: 0px;}
.post-card.post-card-5 .post-category{display:inline-block;}
.post-card.post-card-5 .post-date{float:right;}
.post-card.post-card-5 .post-content .post-text{margin:10px 0px; color:gray;}
.post-card.post-card-5 .open-community { background-color: rgb(224, 224, 224); color: rgb(87, 87, 87); font-size: 10px; padding: 10px; text-align: center;}

.linksPanel{background-color: white; padding-left: 0px; padding-right: 0px;}
ul.linksSmallRight {width: 100%;float: none;}
ul.linksSmallRight li{margin-bottom: 30px; text-align: center;}
ul.linksSmallRight li i, .linksPanel i{font-size: 21px; color:#FF9020; text-align: center;}
.linksPanel-inner > i{margin-bottom: 20px; margin-top:20px; color:#C0C0C0; cursor: pointer;text-align: center;}
.linksPanel .linksPanel-inner{border: 1px solid rgb(232, 232, 232);text-align: center;}
.post-card{border: 1px solid rgb(232, 232, 232);}

a:hover, a:hover > *, .post-card li, .filtersTop li{
  transition: all linear .2s; */
  -moz-transition: all linear .2s;
  -webkit-transition: all linear .2s;
  -o-transition: all linear .2s;
  -ms-transition: all linear .2s;
}
a, a > *{
  transition: all linear .2s; 
  -moz-transition: all linear .2s;
  -webkit-transition: all linear .2s;
  -o-transition: all linear .2s;
  -ms-transition: all linear .2s;
}

.main .header {
  width: 97%
}

.main .header .globalSearch input {
  margin-top: 6px;
}

.resultados-title{
    margin-bottom: 20px;
    color: gray;
}

.globalSearch.resultados-search input{
    width: 400px !important;
    height: 30px !important;
    background-position: 380px 8px !important;  
    margin-bottom: 10px;    
}

.resultados-idioma{    
    color: gray;
    clear: both;
    font-size: 12px;
    margin-bottom: 30px;
}
.description-search{
    margin: 10px 0px;
    color: gray;
    font-size: 14px;    
}
.link-search{
    font-size: 12px;
    display: block;
}

.head-search{padding-top: 10px;}

.popup-previa:hover .previa-search{
    display: block;
    opacity:1; 
    visibility: visible;
    transition-delay:0s;
}

.previa-search{
    position: absolute;
    z-index: 1100;
    right: 0px;
    padding:20px;
    border:1px solid #D2D2D2;
    background-color: white;
    visibility: hidden;
    opacity:0;
    transition:opacity 0s linear 0.5s,opacity 0.5s linear;
}

.previa-search.uno{
    top: 145px;    
}

.previa-search.dos{
    top: 260px;    
}

.previa-search.tres{
    top: 375px;    
}

.previa-search.cuatro{
    top: 490px;    
}
.previa-search img{
    clear: both;
    display: block;
}

.title-previa-search{
    font-size: 22px;
    color: gray;
    margin-bottom:15px; 
    float: left;
}

.previa-search-modificado{
    margin: 20px 0px;
    color: gray;
}

.previa-search-footer{
    background-color: #DEDEDE;
    padding: 10px;  
    text-align: center;
    margin: 0px -20px -20px -20px;    
}

.previa-search-footer a{
    margin-right: 25px;   
}

.previa-search .arrow-left{
    position:absolute;
    left:-30px;
    top:270px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(255, 255, 255);    
    margin-left: 10px;
    margin-top: 10px;    
}

#previa-search-views{
    float:right;
    float: right;
    margin-top: 5px;    
}

#previa-search-close i{
    font-size: 20px;
    color: gray;
}

#previa-search-close i:hover{
    cursor: pointer;
}

/*************************************/

.main .contResponsiveFull.centerColumn .globalSearch.globalSearchSmph input{
    width: 200px;
    height: 20px;
    background-color: #FFF;
    background-image: url(../images/view.png);
    background-repeat: no-repeat;
    background-position: 185px 4px;
    padding-left: 5px;
    color: #666;
    font-size: 14px;
    border: 1px solid #D6CECE;    
}



.main .header ul.filtersTop li.selected:hover{ cursor:pointer; opacity:.7; }

.corporativoo{background-color: #839AC9 !important;}
.estrategicoo{background-color: #7B7D7D !important;}
.estrategicoo{background-color: #7B7D7D !important;}
.eventoss{background-color: #AE7689 !important; }
.markett{background-color: #B2A974 !important;}
.negocioo{background-color: #E38E73 !important;}
.comunidadess{background-color: #DA6D00 !important;}
.rojo-claro{background-color: rgba(213, 65, 73, 0.67) !important;}
/*
#B58989
#C54671
#AE7689
*/

.main .rightPanel {
  background-color: white;
  border: 1px solid rgb(232, 232, 232);
}

.main .rightPanel .contAlerts .titleWP,
.main .rightPanel .contLinks .titleWP,
.main .rightPanel .contCalendario .titleWP{
    float: left;
    width: 100%;
    font-weight: bold;
    font-size:14px;
    font-family:trade-gothic-lt;
    text-transform: uppercase;
    color: gray;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.main .rightPanel .contAlerts .alert, .main .rightPanel .contCalendario .evento  {

    margin-bottom: 10px;
    border-left: 7px solid gray;
    width: 98%;
    background-color: rgb(244, 244, 244);
    padding: 10px 0px 10px 0px;
}

.contLinks, .contAlerts, .contCalendario{
    margin-bottom:30px;
  float: left;
  padding: 10px;
}

.main .rightPanel .contAlerts .alert .category, .main .rightPanel .contCalendario .evento .date {
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
  color: gray;
}

.main .rightPanel .contCalendario .evento .date {
  width: 18%;
  height: 50px;
  background-color: gray;
  float: left;
  color: white;
  text-align: center;
  padding:4px 0px 0px 0px;
  font-size: 13px;
}

.main .rightPanel .contCalendario .evento .date span{
  font-size: 22px;
  display: block;
}

.main .rightPanel .contCalendario .evento {
  padding: 0px 0px 0px 0px;
  border-left: none;
}


.main .rightPanel .contAlerts .alert .message, .main .rightPanel .contCalendario .evento .message {
    font-size: 12px;
    color: gray;
    padding-left: 10px;
}
.main .rightPanel .contAlerts .alert .message{
    padding:10px 10px 0px 10px;
}

.linksPanel-inner > i {
    font-size:30px;
}

.rightPanel > i{
    color: #C0C0C0;
    cursor: pointer;
    font-size:30px;
    margin-bottom: 20px;
    margin-top: 20px;    
    margin-left:10px;
}
.main .rightPanel .contLinks .addIcon{
    color:gray;
    text-align: center;
    padding-top: 7px;
    font-size: 30px;
    background-image: none;
}

.main .rightPanel .contCalendario .evento {float: left;margin-bottom: 10px;}
.main .rightPanel .contCalendario .evento .time{ width:70%; font-size: 12px; text-align: left; float: left; padding:10px 10px 3px 10px;}
.main .rightPanel .contCalendario .evento .alertIcon{ float: left; background-image: url('../images/alertIcon.png');width: 14px;height: 14px;margin-left: 10px;margin-right: 4px;}
.main .rightPanel .contCalendario .evento .message{ float: left; font-size: 12px;}

.main .rightPanel .contLinks .tile,
.main .contResponsiveFull .tile{background-color: #FF9020;}
.main .rightPanel .contLinks .tile span,
.main .contResponsiveFull .tile span{
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 11px;
  text-align: right;
}

.main .contResponsiveFull .tile a span {
  color:white
}

.main .rightPanel .contLinks .big span {
  font-size: 18px;
}
.main .rightPanel .contLinks .double span {
  font-size: 15px;
}

.main .rightColumn .globalSearch input{ float:right; width:245px; padding:0px 10px; height:20px; background-color:#FFF; background-image:url(../images/view.png);background-repeat:no-repeat; background-position:right; color:#666; font-size:14px; border:1px solid #CCC; margin:20px 0px;}

.main .rightColumn, .main .leftColumn{
    background-color: white;
    border: 1px solid rgb(232, 232, 232);
    padding: 30px 2%;  
    font-size: 14px;
}

.main .leftColumn{
    float: left;
    width:10%;
}

.main .leftColumn ul a{
    color:gray;
    text-decoration: none;
}

.main .rightColumn{
    float: right;
    width: 15%;
}

.main .rightColumn ul.trending{
    clear:both;
}

.main .rightColumn ul.trending li{
    background-color: #E4E4E4;
    float: left;
    margin: 0px 5px 5px 0px;
    padding: 7px;
    color:gray;
}

.main .rightColumn ul.trending li:hover{
    cursor:pointer;
    background-color:#BDBDBD;
    color:white;
}

.main .rightColumn ul.contribuidores{
    margin-top:10px;
    clear:both;
}

.main .rightColumn ul.contribuidores li{
    margin:13px;
    color: gray;
    font-weight: bold;
}

.main .rightColumn ul.contribuidores li i{
    font-size: 20px;
    vertical-align: middle;
    margin-right:10px;
}

.main .rightColumn ul.contribuidores li > span{
    font-weight:normal;
    font-size: 12px;
    margin-top: 5px;
}
    
.main .rightColumn ul.propietarios{
    display:
}

.main .rightColumn ul.links-rapidos li, .main .leftColumn ul.links-rapidos li{
    margin-bottom:4px;
}

.main .leftColumn ul.links-rapidos li{
    padding:3px;
}

.main .leftColumn ul.links-rapidos{
    margin:14px 0px 30px 0px;
}

.main .leftColumn ul.links-rapidos a.selected{
    font-weight: bold;
}

.main .leftColumn ul.links-rapidos a.selected li{
    background-color: rgb(237, 237, 237);
}

.main .leftColumn ul.links-rapidos li:hover{
    background-color: rgb(237, 237, 237);
}

.main .leftColumn ul.links-rapidos li:hover a{
    color: rgb(237, 237, 237);
}

.main .rightColumn ul.propietarios li{
    width:60px;
    float:left;
    margin-right:10px;
}

.main .rightColumn ul.propietarios li img{
    width:60px;
    margin-bottom: 25px;
}

.main .rightColumn ul li a, .main .leftColumn ul li a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.main .rightColumn ul li a:hover, .main .leftColumn ul li a:hover{
    opacity:0.4;
}
    
.main .rightColumn .titleWP{
    float: left;
    width: 100%;
    font-weight: bold;
    font-family: trade-gothic-lt;
    text-transform: uppercase;
    color: gray;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main .rightColumn ul{
    margin-bottom:30px
}

.main .leftColumn .titleWP{
    font-weight: bold;
    padding-bottom:55px;
}

.main .contResponsiveFull.centerColumn{ float:left; width:62%;}

.main .contResponsiveFull.centerColumn .document-list{
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.main .contResponsiveFull.centerColumn .muro{
    float: left;
    width: 60%;
    margin: 0 2%;
}

.main .contResponsiveFull.centerColumn .document-list tr th{
    color: gray;
    text-transform: uppercase;
    text-align:left;
}

.main .contResponsiveFull.centerColumn .document-list tr th.nombre{
    width:50%;
}

.main .contResponsiveFull.centerColumn .docs-panel{ 
    background-color: #EAE7E7;
    padding: 15px;
    height: 25px;
    border: 1px solid #DEDEDE;
    margin-bottom: 30px;   
}
.main .contResponsiveFull.centerColumn .breadcrumbs{  
    margin-bottom: 20px;    
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.main .contResponsiveFull.centerColumn .breadcrumbs a{  
    color:gray;
}

.main .contResponsiveFull.centerColumn .add-doc{    
    float:right;
    border: 1px solid #CACACA;
    padding: 5px 10px;
    background-color: white;
}

.main .contResponsiveFull.centerColumn .add-doc:hover{    
    background-color:#BFBFBF;
}

.main .contResponsiveFull.centerColumn .add-doc:hover a{    
    color:white;
}

.main .contResponsiveFull.centerColumn .add-doc a{    
    clear:both;
    color:gray;
    font-size: 14px;
    text-decoration: none;
}

.main .contResponsiveFull.centerColumn .globalSearch.globalSearchSmph{    
    float:left;
}

.main .contResponsiveFull.centerColumn .document-list tr th.autor{
    width:22%;
}

.main .contResponsiveFull.centerColumn .document-list tr th.fecha{
    width:22%;
}

.main .contResponsiveFull.centerColumn .document-list tr{
    height: 45px;
    border-bottom: 1px solid #E2E2E2;    
}

.main .contResponsiveFull.centerColumn .document-list tr:hover{
    background-color:#EAE7E7;
}

.main .contResponsiveFull.centerColumn .document-list tr.docs-header:hover{
    background-color:#F5F4F5;
}

.main .contResponsiveFull.centerColumn .document-list tr.selected{
    background-color: rgb(228, 228, 228);
}

.main .contResponsiveFull.centerColumn .document-list tr td,
.main .contResponsiveFull.centerColumn .document-list tr th{
  padding: 0px 10px;
}

.main .contResponsiveFull.centerColumn .document-list tr td a{
/*    color: rgb(100, 126, 226);*/
    color: #424141;
    text-decoration: none;
}

.main .contResponsiveFull.centerColumn .document-list tr td a:hover{
    color: #9C9B9B;
}

.main .contResponsiveFull .horizontal-tiles .tile, .main .contResponsiveFull .vertical-tiles .tile{
    width: 75px;
    height: 75px;
}

table.document-list {table-layout: fixed;}

.tooltip{
	display: inline;
}
.tooltip:hover:after{
    background: black;
    right:2px;
    bottom:25px;
    color: white;
    content: attr(id);
    padding: 2px;
    position: absolute;
    z-index: 1598;
    font-size:10px;
    min-width:70px;
    text-align: center;
    padding: 3px 7px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 12px; 
    /* Firefox 1-3.6 */
    -moz-border-radius: 12px; 
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 12px; 
}

.carousel{
/*
    width: 90%;
    margin: auto;
*/
    width: 96%;
    margin-left: 1%;
    background-color: #E2E2E2;
}

.slick-next {
    right: 17px !important;
    z-index: 1000;
}

.slick-prev {
    left: 9px !important;
    z-index: 1000;
}

.slick-prev, .slick-next{
    width:30px !important;
    height: 30px !important;
}

.comments-container{
    margin: 20px;
    padding-top: 30px;
    border-top: 3px solid #F1F1F1;
    clear:both;
}

.ver-mas{
    text-align: center;
    margin-bottom: 20px;
}

.ver-mas button{
    padding: 10px 30px;
    border: 1px solid #C3C3C3;
    color: #2F2F2F;
}

.ver-mas button:hover{
    cursor:pointer;
}

.post-container{
    margin-bottom: 10px;
    font-size: 14px;
}

.post-container.respuesta{
    margin-bottom: 10px;
    font-size: 13px;
    margin-left: 90px;
}

.post-container img{
    float:left;
    width: 60px;
}
  
.post-container .post-body a{
    color: rgb(36, 36, 36); 
}

.post-container .post-body{
    border: 1px solid rgb(223, 223, 223);
    padding: 20px;
    background-color: rgb(232, 232, 232);
    margin-left: 90px;
    font-family: trade-gothic-lt;
}

.post-container .post-body .author{
    font-weight: bold;
    color: rgb(86, 81, 81);
}

.post-container .post-body .text{
    margin: 10px 0px;
    color: gray;
}

.post-container .post-body .bottom{
  padding: 10px 20px;
  margin: 20px -20px -20px -20px;
  background-color: rgb(221, 221, 221);
  border-top:none;
  font-size: 12px;
}

.post-container .post-body .adjunto, .post-container .post-body .adjunto a{
    color:rgb(100, 126, 226);
}

.post-container .post-body .adjunto, .post-container .post-body .adjunto a:hover{
    color:rgb(157, 172, 229);
}

.post-container .post-body .bottom .hour{
    float: right;
    font-size: 12px;
    color: rgb(77, 77, 77);
}

.post-container .post-body .bottom a{
  margin-right: 30px;
  text-decoration: none;
  color: rgb(77, 77, 77);
}

.post-container .post-body .bottom a:hover {
    color:#989898;
}

.post-container .post-body textarea{
    width: 100%;
    border: 1px solid rgb(205, 205, 205);
    overflow:hidden;
    font-family: trade-gothic-lt;
    height: 30px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(207, 207, 207);
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}


.document-list .fa-folder-open,
.document-list .fa-file-pdf-o,
.document-list .fa-file-excel-o,
.document-list .fa-link{
    margin-right: 5px;
    font-size:20px;
}
.document-list .fa-folder-open{
    color:#E2B941;
}
.document-list .fa-file-pdf-o{
    color: #E40000;
}
.document-list .fa-file-excel-o{
    color: green;
}
.document-list .fa-link{
    color: #4545E2;
}
#typeLinks{
    background-color: #E2E2E2;
    font-size: 16px;
    color: #3C3C3C;
    border: none;
    margin-left: -10px
}

#mis{
    display:none;
}

#corporativos{

}

.slick-prev:before, .slick-next:before{
    font-size: 29px !important;
    color: #2F2828 !important;
}

/*Media Queries*/
@media only screen and (min-width: 0px) and (max-width: 800px) {
/*
    .topSharePointBar .leftZone .menu ul li {
        margin-left:-100px;
    }    
*/
    .topSharePointBar .leftZone .menu ul li.hamburguer {
        width: 90px;
        padding: 30px 10px 0px 10px;
/*        margin-left:0px;*/
    }  
}

@media only screen and (min-width: 0px) and (max-width: 550px) {
    .topSharePointBar .leftZone .menu ul li.hamburguer i{
        margin-right: 0px;
        font-size:22px;
    }
    .topSharePointBar .leftZone .menu ul li.hamburguer {
        width: 30px;
    }    
    .topSharePointBar .leftZone .menu ul li.hamburguer span{
        display:none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1279px) {
    .main .header .globalSearch input {
      width: 135px;
    }
    .topSharePointBar .leftZone .menu ul:hover{
        position: absolute;
        z-index: 1000;   
        background-color:white;        
    }     
    .topSharePointBar .leftZone .menu ul li{
        display:none;
        height: auto;
        padding: 20px 30px 15px 30px;
        border-right: 1px solid rgba(187, 187, 187, 0.46);
    }     
    .topSharePointBar .leftZone .menu ul li.hamburguer{
        display:block;
        background-color: #E6E6E6;
        height: 50px;
        padding: 30px 30px 0px 30px;
        font-size: 20px;        
    }
    .topSharePointBar .leftZone .menu ul:hover li.hamburguer{
        color:gray;
    }    
    .topSharePointBar .leftZone .menu ul:hover li{
        display:block;
        float:none;    
        border-bottom: 1px solid rgba(187, 187, 187, 0.46);
    } 
    .topSharePointBar .leftZone .menu ul li:hover{
        background-color:gray;
    }    
    .topSharePointBar .leftZone .menu ul:hover li.hamburguer{
        background-color:white;
    }    
    .topSharePointBar .leftZone .menu ul:hover a{
        text-decoration: none;
    }     
}

/*
@media only screen and (min-width: 0px) and (max-width: 1219px) {
    .topSharePointBar .leftZone {
      width: 80%;
    }
    .topSharePointBar .leftZone .menu ul li {
      padding: 40px 15px 0px 15px;
    }
    .topSharePointBar .rightZone .menu ul li {
       margin-left: 0px; 
       margin-right: 4px; 
    }
    .main .header h1 {
      margin-right: 10px
    }
    .main .header ul.filtersTop li {
      width: 94px;
      font-size: 12px
    }
    .main .leftColumn {
        width: 12%;
    }
    .main .contResponsiveFull.centerColumn {
      width: 60%;
    } 
    .main .contResponsiveFull.centerColumn .document-list tr.docs-header  {font-size:11px;} 
    .topSharePointBar .leftZone .menu ul li{
        display:none;
    }     
    .topSharePointBar .leftZone .menu ul li.hamburguer{
        display:inline-block;
    }       
}
*/
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .topSharePointBar .rightZone .menu ul li {
       margin-left: 0px; 
       margin-right: 8px; 
    }
    .topSharePointBar .leftZone .menu ul li{
        width:auto;
    }      
    .main .contResponsiveFull.centerColumn {
      width: 60%;
    } 
    .main .contResponsiveFull.centerColumn .document-list tr.docs-header  {font-size:11px;}      
}
@media only screen and (min-width: 1366px) and (max-width: 2500px) {
    .rightZone .menu .helpIcon {
      margin-right: 5px;
    }
    .main .leftColumn {
        width: 12%;
    }  
    .main .contResponsiveFull.centerColumn {
      width: 60%;
    }  
}